<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>spider</title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body>
<div class="layui-tab" style="width: 616px">
    <ul class="layui-tab-title">
        <li>获取行业的代码</li>
        <li>获取行业的月k线</li>
        <li>获取行业的月涨跌情况</li>
        <li>获取行业对应的股票信息</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item">
            <button id="industry" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                行业代码
            </button>
        </div>

        <div class="layui-tab-item">
            <button id="industryKLine" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                行业k线
            </button>
        </div>

        <div class="layui-tab-item">
            <button id="month" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                行业月涨跌
            </button>
            <div class="layui-collapse" style="margin: 10px" lay-accordion>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">六月</h2>
                    <div class="layui-colla-content">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>行业代码</th>
                                <th>涨的次数</th>
                            </tr>
                            </thead>
                            <tbody id="append0"></tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">七月</h2>
                    <div class="layui-colla-content">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>行业代码</th>
                                <th>涨的次数</th>
                            </tr>
                            </thead>
                            <tbody id="append1"></tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">交集</h2>
                    <div class="layui-colla-content">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>行业代码</th>
                                <th>行业名称</th>
                            </tr>
                            </thead>
                            <tbody id="append2"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-tab-item">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">行业代码:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="industryCode" required lay-verify="required" placeholder="请输入行业代码"
                               autocomplete="off" class="layui-input">
                    </div>
                    <button id="stock" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                        行业股票信息
                    </button>
                </div>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>日均成交额</th>
                        <th>股票信息</th>
                    </tr>
                    </thead>
                    <tbody id="append"></tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    layui.use(['layer', 'element'], function () {
        var layer = layui.layer,
            element = layui.element;

        $("#industry").click(function () {
            $.ajax({
                url: "/spider/industry",
                success: function (result) {
                    layer.open({
                        title: result
                        , content: '获取行业的代码成功,已保存在redis的db0'
                    });
                },
                error: function (result) {
                    layer.open({
                        title: result
                        , content: '获取行业的代码失败'
                    });
                }
            });
        });

        $("#industryKLine").click(function () {
            $.ajax({
                url: "/spider/industryKLine",
                success: function (result) {
                    layer.open({
                        title: result
                        , content: '获取行业的月k线成功,已保存在redis的db1'
                    });
                },
                error: function (result) {
                    layer.open({
                        title: result
                        , content: '获取行业的月k线失败'
                    });
                }
            });
        });

        $("#month").click(function () {
            $.ajax({
                url: "/spider/month",
                success: function (result) {
                    $.each(result, function (index, obj) {
                        $("#append" + index).empty();
                        $.each(obj, function (i, o) {
                            $("#append" + index).append(
                                `<tr>
                                    <td>` + i + `</td>
                                    <td>` + o + `</td>
                                </tr>`
                            );
                        });
                    });
                    layer.open({
                        title: 'success'
                        , content: '获取行业的月涨跌情况成功'
                    });
                },
                error: function (result) {
                    layer.open({
                        title: 'error'
                        , content: '获取行业的月涨跌情况失败'
                    });
                }
            });
        });

        $("#stock").click(function () {
            $.ajax({
                url: "/spider/stock/" + $("#industryCode").val(),
                success: function (result) {
                    $("#append").empty();
                    $.each(result, function (i, o) {
                        $("#append").append(
                            `<tr>
                                <td>` + i + `</td>
                                <td>` + o + `</td>
                             </tr>`
                        );
                    });
                    layer.open({
                        title: 'success'
                        , content: '获取行业对应的股票信息成功'
                    });
                },
                error: function (result) {
                    layer.open({
                        title: 'error'
                        , content: '获取行业对应的股票信息失败'
                    });
                }
            });
        });
    });
</script>
</body>
</html>