<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>spider</title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body>
<div class="layui-tab" style="width: 50%">
    <ul class="layui-tab-title">
        <li>获取行业信息(最近半年)</li>
        <li>获取行业对应的股票信息(最近一个月)</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item">
            <form class="layui-form">
                <div class="layui-form-item">
                    <button id="industry" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                        点击获取行业信息
                    </button>
                </div>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>行业代码</th>
                        <th>行业名称</th>
                        <th>涨幅(当天值与最低值)</th>
                        <th>k线图</th>
                    </tr>
                    </thead>
                    <tbody id="append_industry"></tbody>
                </table>
            </form>
        </div>

        <div class="layui-tab-item">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">行业代码:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="industryCode" required lay-verify="required" placeholder="请输入行业代码"
                               autocomplete="off" class="layui-input">
                    </div>
                    <button id="stock" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                        点击获取股票信息
                    </button>
                </div>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>股票代码</th>
                        <th>股票名称</th>
                        <th>日均成交量(万)</th>
                        <th>日均成交额(亿)</th>
                        <th>k线图</th>
                        <th>获利盘</th>
                    </tr>
                    </thead>
                    <tbody id="append_stock"></tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    layui.use(['layer', 'element', 'form'], function () {
        var layer = layui.layer;

        $("#industry").click(function () {
            let loading;
            let index = 0;
            $.ajax({
                url: "/spider/industry",
                beforeSend: function () {
                    loading = layer.load(1);
                },
                success: function (result) {
                    $("#append_industry").empty();
                    $.each(result, function (key, value) {
                        index++;
                        let arr = value.split(',');
                        $("#append_industry").append(
                            `<tr>
                                <td>` + index + `</td>
                                <td>` + arr[0] + `</td>
                                <td>` + arr[1] + `</td>
                                <td>` + arr[2] + `</td>
                                <td> <a href="https://quote.eastmoney.com/bk/90.` + arr[0] + `.html" target="_blank" style="color: red">点击查看</a> </td>
                             </tr>`
                        );
                    });
                    layer.close(loading);
                    layer.open({
                        title: 'success'
                        , content: '获取行业信息成功'
                    });
                },
                error: function (result) {
                    layer.close(loading);
                    layer.open({
                        title: result
                        , content: '获取行业信息失败'
                    });
                }
            });
        });

        $("#stock").click(function () {
            let loading;
            let index = 0;
            $.ajax({
                url: "/spider/stock/" + $("#industryCode").val(),
                beforeSend: function () {
                    loading = layer.load(1);
                },
                success: function (result) {
                    $("#append_stock").empty();
                    $.each(result, function (key, value) {
                        index++;
                        let arr = value.split(',');
                        $("#append_stock").append(
                            `<tr>
                                <td>` + index + `</td>
                                <td>` + arr[0] + `</td>
                                <td>` + arr[1] + `</td>
                                <td>` + arr[2] + `</td>
                                <td>` + arr[3] + `</td>
                                <td> <a href=` + arr[4] + ` target="_blank" style="color: red">查看</a> </td>
                                <td> <a href=` + arr[5] + ` target="_blank" style="color: blue">查看</a> </td>
                             </tr>`
                        );
                    });
                    layer.close(loading);
                    layer.open({
                        title: 'success'
                        , content: '获取股票信息成功'
                    });
                },
                error: function (result) {
                    layer.close(loading);
                    layer.open({
                        title: result
                        , content: '获取股票信息失败'
                    });
                }
            });
        });
    });
</script>
</body>
</html>