<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>spider</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li>获取行业信息</li>
        <li>获取行业对应的股票信息</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item" style="width: 1142px">
            <form class="layui-form">
                <div class="layui-form-item">
                    <button id="industry" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                        点击获取行业信息
                    </button>
                </div>
                <table id="industryMsg"></table>
            </form>
        </div>

        <div class="layui-tab-item" style="width: 930px">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">行业代码:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="industryCode" required lay-verify="required" placeholder="请输入行业代码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">k线类型:</label>
                    <div class="layui-input-inline">
                        <select id="klt" name="klt" lay-verify="required">
                            <option value="101">最近一天</option>
                            <option value="102">最近一周</option>
                            <option value="103">最近一月</option>
                            <option value="104">最近一季</option>
                            <option value="105">最近半年</option>
                            <option value="106">最近一年</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button id="stock" type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                        点击获取股票信息
                    </button>
                </div>
                <table id="stockMsg"></table>
            </form>
        </div>
    </div>
</div>
<script src="/jquery/jquery-3.6.3.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['layer', 'table'], function () {
        var layer = layui.layer
            , table = layui.table;

        $("#industry").click(function () {
            table.render({
                elem: '#industryMsg'
                , url: '/spider/industry'
                , cols: [
                    [
                        {type: 'numbers', title: '序号', width: 60, fixed: 'left'}
                        , {field: 'industryCode', title: '行业代码', align: 'center', width: 120}
                        , {field: 'industryName', title: '行业名称', align: 'center', width: 120}
                        , {field: 'dayIncrease', title: '日涨幅(%)', align: 'center', width: 120, sort: true}
                        , {field: 'weekIncrease', title: '周涨幅(%)', align: 'center', width: 120, sort: true}
                        , {field: 'monthIncrease', title: '月涨幅(%)', align: 'center', width: 120, sort: true}
                        , {field: 'quarterIncrease', title: '季涨幅(%)', align: 'center', width: 120, sort: true}
                        , {field: 'halfYearIncrease', title: '半年涨幅(%)', align: 'center', width: 140, sort: true}
                        , {field: 'yearIncrease', title: '年涨幅(%)', align: 'center', width: 120, sort: true}
                        , {field: 'line', title: 'k线图', align: 'center', width: 90}
                    ]
                ]
            });
        });

        $("#stock").click(function () {
            table.render({
                elem: '#stockMsg'
                , url: '/spider/stock/' + $("#industryCode").val() + '/' + $("#klt").val()
                , cols: [
                    [
                        {type: 'numbers', title: '序号', width: 60, fixed: 'left'}
                        , {field: 'stockCode', title: '股票代码', align: 'center', width: 120}
                        , {field: 'stockName', title: '股票名称', align: 'center', width: 120}
                        , {field: 'tradingVolumeAvg', title: '日均成交量(万)', align: 'center', width: 160, sort: true}
                        , {field: 'tradingAmountAvg', title: '日均成交额(亿)', align: 'center', width: 160, sort: true}
                        , {field: 'score', title: '个股评分', align: 'center', width: 120, sort: true}
                        , {field: 'line', title: 'k线图', align: 'center', width: 90}
                        , {field: 'profit', title: '获利盘', align: 'center', width: 90}
                    ]
                ]
            });
        });
    });
</script>
</body>
</html>